h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #F26522;
    margin-top: 0;
    margin-bottom: 3.6rem;
    position: relative;
    margin-left: 3.5rem;
    &::after {
        content: "";
        display: block;
        background-color: #F26522;
        height: 2px;
        margin-top: -1px;
        width: 2.5rem;
        position: absolute;
        top: 50%;
        left: -3.3rem;
    }
}