.slide_container {
    width: 80%;
    height: auto;
    margin: 7rem auto 0 auto;
    & .inner_container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
}

.header_description {
    width: 90%;
    margin: 2rem auto;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: -0.03rem;
    margin-top: 0;
    margin-bottom: 4.8rem;
    margin-bottom: 1rem;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.45);
}