.heroBar {
    width: 43rem;
    height: auto;
    margin: 10rem auto 0 auto;
    & .heroBar_bg {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        & h1 {
            color: #fff;
            font-size: 3rem;
            text-transform: uppercase;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            word-spacing: .5rem;
        }
    }
}