.app {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero_img {
    height: 100vh;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7) ), url('./assets/hero-background.jpg');
    background-size: cover;
    overflow: hidden;
}
